* {
    margin: 0;
    padding: 0;
    color: #fff;
}
body {
    /*background: #fff;*/
}

#container {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#box {
    /*position: absolute;*/
    /*top: 0;*/
    padding-right: 15px;
    /*left: 15px;*/
    width: 100%;
    height: 700px;
    overflow-y: auto;
    box-sizing: content-box;
}
#box:focus {
    outline: none;
}

.content {
    margin-bottom: 48px;
}

.title {
    margin-bottom: 10px;
    font-size: 32px;
}

.row {
    font-size: 28px;
    line-height: 48px;
}

.img {
    margin: 20px 0;
    width: auto;
    height: 422px;
}
